/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-06-27 10:07:31 */
@import url('//fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

body,li { 
    line-height: 25px;
}
p { 
    line-height: inherit;
    letter-spacing: 0;
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 { 
   font-family: Playfair Display,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 22px; 
    font-style: italic;
    margin: 0 0 32px 0;
}
h2 { 
    font-family: Playfair Display,sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px; 
    font-style: italic;
    margin: 0 0 32px 0;
}
h3 { 
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 14px 0;
}
h5 { 
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 { 
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 14px 0;
} 
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em; 
}
html .btn-modern {
    font-weight: 400;
    letter-spacing: .15em;
}
html .action.primary {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #222529;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
html .btn-lg { 
    line-height: 1.3333;
    border-radius: 0;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
} 
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
} 
html .btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
} 
.custom-font1 {
    font-family: Playfair Display,sans-serif;
}
.font-weight-extra-bold {
    font-weight: 800;
}
.porto-icon-shopping-cart:before {
    content: '\e80d';
}
.minicart-wrapper .action.showcart .minicart-icon { 
    right: 0;
    left: 0;
} 
.page-header.type20 .minicart-wrapper .action.showcart { 
    min-width: 29.5px;
    margin-left: -1.5px;
}
.layout-1220 .header.content,.main-panel-top .container {
    max-width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
} 
.page-header.type20 .header-contact .my-account i, .page-header.type20 .header-contact .wishlist i {
    font-size: 27px; 
}
.page-header.type20 .header-contact .my-account,.page-header.type20 .header-contact .wishlist { 
    padding: 0 .125rem;  
}
.page-header.type20 .header-contact .my-account { 
    padding: 0 .125rem; 
    margin-right: 0 !important;
}
.page-header.type20 .header-right > * {
    margin-left: 1.125rem; 
}
.page-header.type20 .header-right > *:firt-child {
    margin-left: 0; 
}
.rtl .page-header.type20 .header-right > * {
    margin-right: 1.125rem; 
    margin-left: 0;
}
.rtl .page-header.type20 .header-right > *:firt-child {
    margin-right: 0; 
}
.page-header.type20 .header-contact > *:not(:first-child) {
    margin-left: 1.125rem;
}
.rtl .page-header.type20 .header-contact > *:not(:first-child) {
    margin-right: 1.125rem !important;
    margin-left: 0;
}
.page-header.type20 .search-area.show-icon a.search-toggle-icon {
    font-size: 22.5px; 
}
@media (min-width: 992px) {
.page-header.type20 .header-main .header-left, .page-header.type20 .header-main .header-right {
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-header.type20 .logo {
    margin-right: 1rem;
}
.page-header.type20 .header.panel > .header.links > li {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -.025em;
}
.page-header.type20 .header.panel > .header.links > li > a{
    padding: 0; 
    text-transform: inherit;
}
.page-header.type20 .nav-sections {
    display: block; 
    margin-left: 1.125rem;
}
.page-header.type20 .navigation:not(.side-megamenu) .level0 .level-top {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.3px;
    padding: 20px 27px 20px 27px;
}
.page-header.type20 .navigation:not(.side-megamenu) .level0 .level-top:before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 27px;
    top: 50%;
    left: 0;
    right: 15px;
    opacity: 0;
    transition: cubic-bezier(.55,0,.1,1) right 0.3s;
}
.page-header.type20 .navigation:not(.side-megamenu) .level0:hover .level-top:before {
    opacity: 1;
    right: 0;
}
.page-header.type20.sticky-header .header-main .header-left, .page-header.type20.sticky-header .header-main .header-right {
    padding-top: 0;
    padding-bottom: 0;
}
.page-header.type20.sticky-header .nav-sections {  
    margin-left: 1.125rem !important;
}
.rtl .page-header.type20.sticky-header .nav-sections {  
    margin-right: 1.125rem !important;
    margin-left: 0 !important
}
}
.page-wrapper > .breadcrumbs .items {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 13px;
}
.page-wrapper > .breadcrumbs .items:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-bottom: 1px solid #e7e7e7;
}
.checkout-cart-index .page-title-wrapper .page-title { 
    font-family: inherit;
    font-style: inherit;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
} 
html .background-color-secondary {
    background-color: #ff7272!important;
} 
.side-custom-block .custom-block h2 { 
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}
.footer, .footer p { 
    line-height: 25px;
    letter-spacing: 0;
}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 700;
}
.footer-top .custom-block:before,.footer-top .custom-block:after {
    margin-bottom: 0;
    border: none;
    margin-top: 0;
}
.footer-middle > .container::before {
    content: '';
    display: block;
    position: static;
    left: 10px;
    top: 0;
    right: 10px;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 2.5rem;
}
.footer-middle > .container::after {
     border-color:#e7e7e7;
     margin-top: .625rem;
     position: static;
}
.footer .block.newsletter .form.subscribe { 
    margin-bottom: 10px;
}
.footer .newsletter input {
    height: 3rem;
    padding-left: 1.25rem;  
    background: #f4f4f4;
    border-radius: 0;
}
.footer .newsletter .action.subscribe {
    height: 3rem; 
    font-weight: 600; 
    border-radius: 0;
    border: none;
    letter-spacing: .15em;
}
.footer .widget>div>ul li {
    margin-bottom: .625rem;
}
.footer-middle > .container { 
    padding-top: 0;
    padding-bottom: 0;
}
.footer-bottom address { 
    text-align: center; 
}
.footer-bottom { 
    font-size: 1em;
}